<div class="text-center" id="contacts-view">
    <h1>Contacts</h1>
    <div id="contacts">
        <div ng-show="!contacts.length">
            <div>You have no friends. Make some up.</div>             
            <button ng-controller="ModalCtrl" ng-click="launchModal('partials/contacts/new.html','NewCtrl')" class="btn btn-primary new-btn">Add Contact</i></button> 
        </div>
        <div ng-show="contacts.length" ng-repeat="contact in contacts" class="col-sm-6 col-md-4 contact">
            <div class="thumbnail">
                <button ng-click="deleteContact(contact.id)" class="btn btn-danger delete-btn"><i class="fa fa-trash-o"></i></button>
                <button ng-click="toggleFavorite(contact)" class="btn btn-default favorite-btn"><i ng-class="{'fa fa-star-o' : !contact.isFavorite, 'fa fa-star' : contact.isFavorite}"></i></button> 
                <button ng-controller="ModalCtrl" ng-click="launchModal('partials/contacts/edit.html','EditModalCtrl')" class="btn btn-default edit-btn"><i class="fa fa-pencil"></i></i></button>
                <button ng-click="contactDetail(contact.id)" class="btn btn-default detail-btn"><i class="fa fa-search"></i></i></button> 
                <div class="caption">
                    <h3 class="name">{{contact.firstName}} {{contact.lastName}}</h3>
                    <p class="phone">{{contact.phone}}</p>
                    <p class="email">{{contact.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

